/* Font */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
    text-align: right;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 709px;
    padding: 216px 200px 0 1000px;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 200px;
}

/* BAnner & Button*/
.banner-subtitle {
    font-weight: 700;
    font-size: 65px;
    color: #151414;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 20px;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18PX 35px;
    align-items: center;
    margin-top: 40px;

}

/* About section */
.about {
    display: flex;
    align-items: center;
    height: 700px;
    /* background-image: url(../images/person.png);
    background-repeat: no-repeat;
    overflow: hidden; */
    margin: 0 300px;
}

.about-div {
    align-items: center;
    height: 400px;
    padding: 0 300px 0 100px;
    margin-top: 120px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}

.about-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 20px 0;
}


ul li {
    color: #444343;
    padding: ;
    list-style: none;
    height: px;
}

.space {
    margin-right: 10px;
}

/* Plan Section */
.full-plan {
    display: flex;
    justify-content: space-between;
}

.plan-title {
    text-align: center;
    height: 47px;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

.plan {
    margin: 0 100px 0;

}

.plan-web {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plam-par {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}