/* Font */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
    text-align: right;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 709px;
    padding: 216px 200px 0 1000px;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 200px;
}

/* BAnner & Button*/
.banner-subtitle {
    font-weight: 700;
    font-size: 65px;
    color: #151414;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 20px;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18PX 35px;
    align-items: center;
    margin-top: 40px;

}

/* About section */
.about {
    display: flex;
    align-items: center;
    height: 700px;
    /* background-image: url(../images/person.png); */
    margin: 0 300px;
}

.about-div {
    align-items: center;
    height: 400px;
    padding: 0 300px 0 100px;
    margin-top: 120px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}

.about-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 20px 0;
}


ul li {
    color: #444343;
    list-style: none;
    height: px;
}

.space {
    margin-right: 10px;
}

/* Plan Section */
.full-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-title {
    text-align: center;
    height: 47px;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

.plan {
    margin: 0 120px 0;
    align-content: space-between;
}

.plan-web {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-par {
    display: flex;
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.bland {
    display: flex;
    padding: 0 70px;
    height: 182px;
}

.idea-plan {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 0 500px;
}

.idea-title {
    text-align: center;
    margin: 19px 0;
    height: 47px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.ide-header {
    font-weight: 600px;
    font-size: 25px;
}

.idea-proper {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(5, 3, 3, 0.06);
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 55px;
}

/* gradient */

.grad {
    display: flex;
    align-items: center;
    background-image: url(../images/gradient3.png);
    background-image: url(../images/watch.png),linear-gradient(100deg, #F15B22 0%, rgba(241, 91, 34, 0) 70%);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    margin-left: 350px;
    margin-bottom: 50px;
    border-radius: 8px;
    height: 300px;

}

.btn-call {
    height: 60px;
    border-radius: 5px;
    background: #ffffff;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18PX 35px;
    align-items: center;
    margin-top: 30px;
}

.btn-text {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

/* footer section */
.foter {
    height: 400px;
    background: #151414;
    display: flex;
    align-items: center;
}

.foter-main {
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 0 300px;
    padding-left: 200px;
    align-items: center;
    padding-right: 25px;
}

.foter-head {
    margin-bottom: 15px;
    margin-top: 20px;
}

.table {
    padding-left: 700px;
}

.foter-head2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.table input[type="email"] {
    height: 60px;
    padding: 0 90px 0 10px;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    background-color: #151414;
    font-size: 20px;
}

.ft-email {
    margin-top: 25px;
    margin-bottom: 15px;
}

.ft-phone {
    margin-bottom: 15px;
}

/* After Assignment */
.icons{
    display: flex;
    padding: 0 45px;
}
.icons-special{
    padding-left: 75px;
}
.icons-js{
    padding-left: 30px;
}
.icons-ec{
    padding-left: 20px;
}
.m-icon{
    
    padding-left: 80px;
    
}
.foter-icon{
    padding: 0 4px;
}